# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
portfolio_env/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files (prevent large data files from being committed)
*.csv
*.xls
*.xlsx
# Uncomment the following if we want to exclude all data files
# data/raw/*
# !data/raw/.gitkeep
# data/processed/*
# !data/processed/.gitkeep

# Results
# results/figures/*
# !results/figures/.gitkeep
# results/models/*
# !results/models/.gitkeep

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
